{{#entry_details}}
	<h2>{{title}}</h2>
	<div class="image">
		<img src="{{image}}" title="{{title}}" />
	</div>
	<div class="vote-form">
		<form action="" method="post">
			<button type="submit" name="vote" value="up">Up</button>
			<button type="submit" name="vote" value="down">Down</button>
		</form>
	</div>
	<div class="description">{{description}}</div>
{{/entry_details}}