{{#entry_details}}
<h1>Find your Inspiration</h1>
<div class="single-entry">
	<h2>{{title}}{{#is_inspiring}}<div class="inspiring">Top 10 Most Inspiring Project!</div>{{/is_inspiring}} <span class="pin"></span><span class="fb-share"></span></h2>
	<div class="image">
		<img src="{{image}}" title="{{title}}" />
	</div>
	<div class="vote-form">
		<form action="" method="post">
			<button class="yes" type="submit" name="vote" value="up">Up</button>
			<button class="no" type="submit" name="vote" value="down">Down</button>
		</form>
	</div>
</div>
<div class="entry-description">{{description}}</div>
<ul class="tools-used">
{{#tools_used}}
	<li>
		<div class="image"><img src="{{image}}" title="{{name}}" /></div>
		<div class="name">{{name}}</div>
		<div class="button"><img src="{{button}}" /></div>
	</li>
{{/tools_used}}
</ul>
{{/entry_details}}