<h1>Categories</h1>
<div class="categories">
	<ul>
		{{#categories}}
		<li>
			<div class="name"><a href="{{url}}">{{name}}</a></div>
			<div class="image"><a href="{{url}}"><img src="{{image}}" title="{{name}}" /></a></div>
		</li>
		{{/categories}}
	</ul>
</div>