<h2>Your Inspirations</h2>
<div class="inspirations">
	<ul>
	{{#entries}}
		<li>
			<div class="title"><h3>{{title}}</h3></div>
			<div class="image"><img src="{{image}}" title="{{title}}" /></div>
		</li>
	{{/entries}}
	</ul>
</div>