<h1>Your Projects</h1>
<div class="projects">
	<ul>
	{{#entries}}
		<li>
			<div class="title"><a href="{{url}}">{{title}}</a></div>
			<div class="image"><a href="{{url}}"><img src="{{image}}" title="{{title}}" /></a></div>
		</li>
	{{/entries}}
	</ul>
</div>