<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="generator" content="{{app_version}}">
	<title>{{title}}</title>

	<script type="text/javascript">
	// <![CDATA[
		// Global Kohana object
		Kohana = {{#js_export}}{{{js_export}}}{{/js_export}}{{^js_export}}{}{{/js_export}};
	// ]]>
	</script>

[[assets_head]]

</head>
<body id="{{view_name}}">
	<div id="page">
		<div id="header">
			{{#auth_info}}
			<div class="user-info">
				<div class="avatar"><img src="{{avatar}}" /></div>
				<div class="welcome">Welcome, Lorenzo!</div>
				<div class="inspirations" title="You've inspired 47 people!">47</div>
				<div class="log-out">( <a href="#">log out</a> )</div>
			</div>
			{{/auth_info}}
		</div>
		<div id="content">
		{{>content}}
		</div>
		<div id="sidebar">
			{{#main_navigation}}
			<div id="navigation">
				<ul>
					<li><a class="find-inspiration" href="{{find_inspiration}}">Find Inspirations</a></li>
					<li><a href="{{your_inspiration}}">Your Inspirations</a></li>
					<li><a href="{{your_projects}}">Your Projects</a></li>
					<li><a href="#">Upload Project</a></li>
				</ul>
			</div>
			{{/main_navigation}}

			{{#previous_entry}}
			<div class="previous-entry">
				<h3>Last Project</h3>
				<div class="entry">
					<div class="image"><img src="{{image}}" title="{{title}}" /></div>
					<div class="info-bubble">
						<div class="inspirations" title="{{inspiration_count}} people were inspired by this project">{{inspiration_count}}</div>
						<div class="fb-share"></div>
						<div class="pin"></div>
					</div>
				</div>
			</div>
			{{/previous_entry}}
		</div>
		<div id="footer"></div>
	</div>
	[[assets_body]]
</body>
</html>
