/**
 * Contains layout-specific SCSS like grids and positioning
 */
$font-futura: Futura, “Century Gothic”, AppleGothic, sans-serif;
$font-arial: Arial, Helvetica, sans-serif;

// These variables determine the grid sizes
$blueprint-grid-columns: 16;
$blueprint-container-size: 940px;
$blueprint-grid-margin: 20px;
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;
$blueprint-grid-outer-width: $blueprint-grid-width + $blueprint-grid-margin;

body {
	background:
		//url('../../images/top-bar.png') no-repeat center top,
		//url('../../images/top-bar-bg.png') repeat-x,
		#F1F1F1;
}

#page {
	@include container;
	@include border-radius(3px);

	background: url('../../images/header.png') no-repeat center -5px, #BDBDBD;

	margin-top: 10px;
	border: 1px solid #CACACA;
}
#header {
	@include column(16, true);

	height: 79px;
	position: relative;

	.user-info {
		font-family: $font-arial;
		font-size: 12px;
		height: 25px;
		position: absolute;
		bottom: 5px;
		left: 5px;

		> div {
			display: block;
			float: left;
			height: 24px;
			line-height: 28px;
			vertical-align: bottom;
			margin-right: 10px;
		}

		.inspirations {
			padding-left: 28px;
			background: url('../../images/thumbs-up-count.png') no-repeat left bottom;
		}
	}
}
#content {
	@include column(12);
}
#sidebar {
	@include column(4, true);
	margin-top: 90px;
}

h1 {
	font-size: 48px;
	font-family: $font-futura;
	text-transform: uppercase;
	color: #CF372C;
	margin: 20px;
}

h3 {
	font-size: 22px;
	margin-bottom: 10px;
	font-family: $font-futura;
	text-transform: uppercase;
	color: #666;
}

#navigation {
	width: 200px;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		margin-bottom: 7px;
	}

	a {
		display: block;
		height: 32px;
		line-height: 32px;
		font-size: 16px;
		font-family: $font-futura;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		color: #C2C1C0;
		background: url('../../images/nav-button-reg-217x32.png');

		&.find-inspiration {
			background-image: url('../../images/nav-button-special-217x32.png');
			color: #FFF;
		}

		&:hover {
			background-position: 0 -32px;
		}
		&:active {
			background-position: 0 -64px;
		}
	}
}

.previous-entry {
	width: 200px;
	margin-top: 20px;
	overflow: hidden;
	position: relative;

	.image {
		position: relative;
		height: 150px;
		width: 200px;

		img {
			width: 200px;
		}
	}

	.info-bubble {
		@include opacity(0.6);
		@include border-radius(15px);

		width: 180px;;
		height: 30px;
		background: #FFF;
		position: absolute;
		bottom: 5px;
		left: 10px;
		line-height: 30px;

		.inspirations {
			font-family: $font-arial;
			color: #000;
			font-size: 18px;
			width: 30px;
			margin-left: 10px;
			padding-left: 28px;
			background: url('../../images/thumbs-up-count.png') no-repeat left center;
			float: left;
			display: block;
		}
		.fb-share, .pin {
			width: 30px;
			height: 20px;
			margin-left: 10px;
			margin-top: 5px;
			float: left;
			display: block;

			&:hover {
				background-position: 0 -20px;
			}
		}
		.fb-share {
			background: url('../../images/share-project-facebook.png') no-repeat;
		}
		.pin {
			background: url('../../images/share-project-pinterest.png') no-repeat;
		}
	}
}

.single-entry {
	border: 1px solid #999;
	background: #F1F1F1;
	width: 640px;
	height: 510px;
	position: relative;
	padding: 5px;
	margin-left: 20px;

	h2 {
		position: absolute;
		display: block;
		width: 630px;
		z-index: 100;
		padding: 5px;
		background: #000;
		color: #FFF;
		font-family: $font-futura;
		text-transform: uppercase;

		.inspiring {
			display: inline;
			margin-left: 20px;
			padding-left: 20px;
			padding-top: 4px;
			background: url('../../images/trophy.png') no-repeat left bottom;
			background-size: 18px 18px;
			font-size: 12px;
		}

		.fb-share, .pin {
			width: 20px;
			height: 20px;
			margin-right: 5px;
			float: right;
			display: block;

			&:hover {
				background-position: 0 -20px;
			}
		}
		.fb-share {
			background: url('../../images/share-project-facebook.png') no-repeat;
		}
		.pin {
			background: url('../../images/share-project-pinterest.png') no-repeat;
		}
	}

	.image {
		position:relative;
		overflow: hidden;
		width: 640px;
		height: 510px;
		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			min-width: 640px;
			min-height: 510px;
		}
	}

	.vote-form {
		z-index: 100;
		position: absolute;
		top: 400px;
		left: 225px;

		button {
			cursor: pointer;
			height: 80px;
			width: 80px;
			border: none;
			overflow: hidden;
			text-indent: 100000px;

			&.yes {
				background: url('../../images/thumbs-up-80x80.png') no-repeat;
			}
			&.no {
				margin-left: 50px;
				background: url('../../images/thumbs-down-80x80.png') no-repeat;
			}

			&:hover {
				background-position: 0 -80px;
			}
			&:active {
				background-position: 0 -160px;
			}
		}
	}
}

.entry-description {
	width: 618px;
	padding: 12px 16px;
	margin: 20px;
	font-size: 12px;
	font-family: $font-arial;
	line-height: 1.5em;
	color: #555;
	-webkit-box-shadow: 0 1px 1px #999;
	background: #FFF;
}

.categories {
	ul {
		@include clearfix;
		margin: 0 -10px 10px 18px;
	}

	.banner {
		li {
			position: relative;
			float: left;
			display: block;
			overflow: hidden;
			width: 324px;
			height: 151px;

			border: 1px solid #999;
			padding: 5px;
			background: #FFF;

			margin-right: 10px;
			margin-bottom: 10px;

			.name a {
				position: absolute;
				width: 314px;
				z-index: 100;
				background: #000;
				color: #FFF;
				font-family: $font-futura;
				text-transform: uppercase;
				text-decoration: none;
				padding: 5px;
			}
			.image {
				position: relative;
				overflow: hidden;
				height: 151px;
				width: 324px;

				img {
					width: 324px;
				}
			}
		}
	}
	.regular {
		li {
			position: relative;
			float: left;
			display: block;
			overflow: hidden;
			width: 151px;
			height: 151px;

			border: 1px solid #999;
			padding: 5px;
			background: #FFF;

			margin-right: 10px;
			margin-bottom: 10px;

			.name a {
				position: absolute;
				width: 141px;
				z-index: 100;
				background: #000;
				color: #FFF;
				font-family: $font-futura;
				text-transform: uppercase;
				text-decoration: none;
				padding: 5px;
			}
			.image {
				position: relative;
				overflow: hidden;
				height: 151px;
				width: 151px;
			}
		}
	}
}

.projects, .inspirations {
	ul {
		margin: 0 -10px 0 18px;
	}

	li {
		position: relative;
		float: left;
		display: block;
		overflow: hidden;
		width: 324px;
		height: 151px;

		border: 1px solid #999;
		padding: 5px;
		background: #FFF;

		margin-right: 10px;
		margin-bottom: 10px;

		.title a {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			position: absolute;
			width: 314px;
			z-index: 100;
			background: #000;
			color: #FFF;
			font-family: $font-futura;
			text-transform: uppercase;
			text-decoration: none;
			padding: 5px;
		}
		.image {
			position: relative;
			overflow: hidden;
			height: 151px;
			width: 324px;

			img {
				width: 324px;
			}
		}
	}
}